/* Resetting some defaults */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Setting up some default styles */
body {
    font-family: 'Quicksand', sans-serif;
}

/* Clearfix for float elements */
.clearfix::after {
    content: "";
    display: table;
    clear: both;
}

/* Header styles */
header {
    background: url(images/design.png) center/cover no-repeat fixed;
    height: 100vh;
    position: relative;
    text-align: center;
    color: #fff;
}

.innerWrapper {
    max-width: 100%;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: space-between; /* Align items horizontally */
    align-items: center; /* Align items vertically */
    height: 100%;
}

h1 {
    font-family: 'Abril Fatface', serif;
    font-size: 5.5rem;
}

h2 {
    font-family: 'Abril Fatface', serif;
    font-size: 3rem;
}

/* Navigation styles */
.navWrapper {
    background: rgba(0, 0, 0, 0.7);
}

.companyName {
    padding: 1rem;
    font-size: 1.8rem;
    font-weight: 400;
}

nav ul {
    list-style: none;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

nav ul li {
    padding: 1rem;
}

nav ul li a {
    text-decoration: none;
    color: #fff;
    text-transform: uppercase;
    font-size: 1rem;
}

/* Mobile styles */
@media (max-width: 900px) {
    .companyName {
        font-size: 1.5rem;
    }

    h1 {
        font-size: 3rem;
    }

    h2 {
        font-size: 2rem;
    }

    nav ul {
        flex-direction: column;
    }
}
